* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  font-family: arial;
  background-image: url('bg.png');
  background-size: cover;
  
}
.form{
  display: flex;
  width: 100%;
}
.reg-credencial{
  width: 60%;
  height: 100%;

}
.credencial-img{
  margin-top: 50px;
  background: #4e4d4d;
  box-shadow: 6px 10px 20px #000;
  width: 30%;
}
.foto-front, .foto-back{
  overflow: hidden;
  width: 80%;
  
  height: 45%;
  margin: 10px;
  margin-left: 40px;
  border-radius: 20px;
  border: 2px solid rgb(0, 217, 255);
  position:relative ;
}
.foto-back img, .foto-front img{
  width: 100%;
}
.cont-logos{
  background: rgba(255, 255, 255, 0.075);
  width: auto;
  height: 110px;
}
.logos{
  display: flex;
  justify-content: space-around;

}
.img1{
  width: 170px;
  margin-top: 10px;
}
.img2{
  width: 120px;
  margin-top: 10px;
}


/*FORMULARIO PARA REGISTRO DE CREDENCIALES*/
.form-registro {
  width: 400px;
  background: #4e4d4d;
  margin: auto;
  margin-top: 50px;
  box-shadow: 6px 10px 20px #000;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  color: white;
}

.form-registro h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.campo {
  width: 100%;
  border: 1px solid #017bab;
  color: white;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #252323;
  font-size: 14px;
  font-weight: bold;
}

.boton {
  width: 100%;
  height: 40px;
  background: #017bab;
  border: none;
  color: white;
  margin-bottom: 16px;
  margin-top: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: all ease-in-out 200ms;
}
.boton:hover{
  background: #19b9f8;
}

input[type="file"]{
  position: absolute;
  top: -9999px;
  left: -9999px;
  
}
label{
  background: rgb(253, 115, 105);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
label img{
  width: 40px;
}
label :not(.chosen) :hover{
  background: rgb(253, 77, 64);
}
label span{
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label.chosen{
  background: #001694;
}
.back{
  width: 70px;
  margin-top: 1rem;
}
#back{
  margin-left: -10rem;
}
