body {
    font-family: arial;
    background-image: url('bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
  .titulo{
      text-align: center;
      margin-top: -4rem;
  }
  .cards{
      display: flex;
      justify-content: center;
      padding-right: 4rem;
      padding-left: 4rem;
  }
  .cardAlu, .cardTrabaj{
    overflow: hidden;
    width: 17%;
    height: 25rem;
    margin: 1px;
    margin-left: 40px;
    position:relative ;
  }
  
  .img{
      text-align: center;
      margin-top: 1rem;
  }
  a{
      text-decoration: none;
  }
  h3{
    text-align: center;
    color: rgb(54, 146, 207);
    cursor: pointer;
  }
  h3:hover{
    color: rgb(0, 0, 0);
    border-radius: 15px;
    transition: 0.5s;
  }
  img{
      width: 100%;
  }
  #text{
      text-align: center;
      font-weight: bold;
      color: white;
  }
  .file-div{
    position: relative;
    padding: auto;
    padding-top:1pt;
    padding-bottom: 1pt;
    width: 100%;
    background-color: #e67777;
    border-radius: 10px;
    
    transition: .5s;
  }
  .file-div:hover{
      background-color: #e22b2b;
  }
  #generarCredencial{
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      opacity: 0;
      cursor: pointer;
  }
  .boton {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 16px;
    margin-top: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all ease-in-out 200ms;
  }
  .boton:hover{
    background: #19b9f8;
  }
  .back{
    width: 70px;
    margin-top: 1rem;
  }
  