body {
    font-family: arial;
    background-image: url('../img/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
  .titulo{
      text-align: center;
      margin-top: 1rem;
  }
  .cards{
      display: flex;
      justify-content: center;
      padding-right: 3rem;
      padding-left: 3rem;
  }
  .cardAlu, .cardTrabaj{
    overflow: hidden;
    width: 20%;
    height: 18rem;
    margin: 10px;
    margin-left: 40px;
    position:relative ;
  }
  .cardAlu:hover, .cardTrabaj:hover{
    background:rgba(0, 195, 255, 0.171);
    border-radius: 15px;
    transition: 0.5s;
  }
  .img{
      text-align: center;
      margin-top: 1rem;
  }
  a{
      text-decoration: none;
  }
  h3{
    text-align: center;
    color: rgb(54, 146, 207);
    cursor: pointer;
  }
  h3:hover{
    color: rgb(0, 0, 0);
    border-radius: 15px;
    transition: 0.5s;
  }
  img{
      width: 80%;
  }
  .button{
    margin-left: 33rem;
    text-align: center;
    width: 20%;
  }
  .boton {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    margin-top: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all ease-in-out 200ms;
  }
  .boton:hover{
    background: #19b9f8;
  }
  